<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">
      <i class="fa fa-line-chart"></i> Trend of Sessions
    </h3>
    <div class="box-tools btn-group pull-right">
      <button class="btn btn-default btn-sm" ng-class="{active: $stateParams.granularity=='hour'}" ng-click="changeGranularity('hour')">
        Hour
      </button>
      <button class="btn btn-default btn-sm" ng-class="{active: $stateParams.granularity=='day'}" ng-click="changeGranularity('day')">
        Day
      </button>
      <button class="btn btn-default btn-sm" ng-class="{active: $stateParams.granularity=='week'}" ng-click="changeGranularity('week')">
        Week
      </button>
    </div>
  </div>
  <div class="box-body">
    <pr-stack-widget params="params" options="options" filters="filters" transform-data="transformData"></pr-stack-widget>
  </div>
  <div ng-show="wait" class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>
