.grunt/
.settings/
.classpath
.project
.idea/
.tmp/
/npm-debug.log
/node_modules
/app/bower_components
/docs
/coverage
/test


dist/app
dist/assets
dist/node_modules

dist/config-bundle.json
dist/favicon.ico
dist/index.html
dist/server.dist.js

pulsar-reporting-ui-bundle.zip