<div class="box" ng-class="{'box-danger' : status.name == 'error', 'box-default': status.name == 'done'}">
  <div class="box-header">
    <h3 class="box-title">
      <i class="{{icon}}"></i> 
      {{widget.options.title}}
    </h3>
    <div class="box-tools pull-right">
      <a class="btn btn-box-tool" ng-click="showStructure()" tooltip-html="getSummary()">
        <i class="fa fa-info"></i>
      </a>
      <a class="btn btn-box-tool" ng-click="isCollapsed = !isCollapsed" data-widget="collapse">
        <i ng-class="isCollapsed ? 'fa fa-plus' : 'fa fa-minus'"></i>
      </a>
      <a class="btn btn-box-tool move-icon" ng-show="editMode" style="cursor: move;">
        <i class="fa fa-arrows"></i>
      </a>
      <a class="btn btn-box-tool" ng-click="edit()" ng-show="editMode">
        <i class="fa fa-gear"></i>
      </a>
      <a class="btn btn-box-tool" ng-click="remove()" ng-show="editMode">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
  <div collapse="isCollapsed"> 
    <div class="box-body">
      <div ng-show="status.name == 'error'" ng-switch="status.httpStatus" class="callout callout-danger">
        <h4 title="{{status.errorMessage}}">
          <i class="fa fa-bell"></i> {{status.httpStatus}} Error
        </h4>
        <p ng-switch-when="400">
          This widget configuration didn't work out... Could you try something else? 
        </p>
        <p ng-switch-when="500">
          There was a problem on our side. Is not your fault. Please contact us for assitance.
        </p>
        <p ng-switch-default>
          A problem occured. Please contact us for assitance.          
        </p>
      </div>
      <div class="widgetContent"><!-- container for the widget itself --></div>
    </div>
  </div>
  <div ng-show="status.name == 'wait'" class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>
