<div class="dashboard" ng-class="{'dashboard-mock' : mock}">

  <div ng-show="isEmpty() && !mock">
    <div class="alert bg-light-blue">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <i class="fa fa-times"></i>
      </button>
      <h4>
        <i class="icon fa fa-check"></i> Your dashboard is empty!
      </h4>
      You can start adding new widgets. Select the edit button &nbsp;<i class="fa fa-edit fa-lg"></i>, and clicking 'Add a widget'.
    </div>
  </div>
  <div ng-class="{row : !mock}" class="clearfix">
    <div ng-repeat="column in model.config.columns" class="column" ng-class="column.styleClass">
      <div ng-class="{'column-inner': editMode || mock}" ui-sortable="sortableOptions" ng-model="column.widgets">
        <div ng-if="mock" class="mock-content">
          {{column.mockContent}}
        </div>
        <div ng-repeat="widget in column.widgets">
          <pr-dashboard-widget edit-mode="editMode" widget="widget" widgets="column.widgets" filters="filters"></pr-dashboard-widget>
        </div>
      </div>
    </div>
  </div>
</div>
