<div class="modal-header">
  <button type="button" ng-click="$dismiss()" class="close"><i class="fa fa-times"></i></button>
  <h4 class="modal-title">Edit Grid Widget</h4>
</div>

<div class="modal-body">
  <div class="form-group">
    <label for="widget-title">Widget Title</label>
    <input type="text" class="form-control" id="widget-title" ng-model="options.title" placeholder="Please enter widget title..."/>
  </div>

  <div class="form-group">
    <label for="widget-table">Table</label>
    <select class="form-control" id="widget-table" ng-model="newParams.table" ng-required="newParams.table" ng-options="table for table in tables">
      <option value="">-- Select a table --</option>
    </select>
  </div>

  <div class="form-group" ng-show="dimensions.length">
    <label for="">Dimension</label>
    <ui-select multiple ng-model="newParams.dimensions" theme="bootstrap">
      <ui-select-match placeholder="Select dimension...">{{$item.name}}</ui-select-match>
      <ui-select-choices repeat="dimension as dimension in dimensions | filter:$select.search">
        {{dimension.name}}
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group" ng-show="metrics.length">
    <pr-metric-picker metric-options="metrics" aggregation-options="aggregationTypes" metrics="newParams.metrics" multiple="true"></pr-metric-picker>
  </div>

  <label ng-init="showMore = true" >
    <a href ng-click="showMore = !showMore">
      More Options <i class="fa {{showMore ? 'fa-caret-right' : 'fa-caret-down'}}"></i>
    </a>
  </label>
  <fieldset collapse="showMore">
    <div class="form-group" ng-show="newParams.table">
      <label for="widget-granularity">
        Granularity
      </label>
      <select class="form-control" id="widget-granularity" ng-model="newParams.granularity">
        <option ng-repeat="granularity in granularities" ng-selected="{{granularity.name==newParams.granularity}}" value="{{granularity.name}}">
          {{granularity.displayName}}
        </option>
      </select>
      <p class="help-block" ng-show="newParams.dimensions.length"> Granularity not recommended when using dimensions.</p>
    </div>
    <div class="form-group">
      <label>Max Results</label>
      <input type="text" class="form-control" ng-model="newParams.maxResults"/>
    </div>
  </fieldset>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()">Save</button>
  <button class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>
