<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="favicon.ico">
    <title ng-bind="pageTitle() + ' | Pulsar Reporting UI Demo'">
        loading... | Pulsar Reporting UI Demo
    </title>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <!-- build:css app/css/lib.css-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="bower_components/admin-lte/dist/css/AdminLTE.css" type="text/css"/>
    <link rel="stylesheet" href="bower_components/admin-lte/dist/css/skins/_all-skins.css" type="text/css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" type="text/css"/>
    <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" type="text/css"/>
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" type="text/css"/>
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" type="text/css"/>
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css" type="text/css"/>
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css" type="text/css"/>
    <!-- endbuild -->

    <!-- build:less pulsar-reporting-ui.css-->
    <link rel="stylesheet/less" href="src/prReporting/prDashboard/prDashboard.less" type="text/css"/>
    <link rel="stylesheet/less" href="src/prReporting/prDashboardWidgets/util/prMetricPicker.less" type="text/css"/>
    <link rel="stylesheet/less" href="src/prReporting/prDynamicFilter/prDynamicFilter.less" type="text/css"/>
    <link rel="stylesheet/less" href="src/prReporting/prUIOption/uiGridPager.less" type="text/css"/>

    <link rel="stylesheet/less" href="src/ui/admin/admin.less" type="text/css"/>

    <link rel="stylesheet/less" href="src/ui/creator/creator.less" type="text/css">
    <link rel="stylesheet/less" href="src/ui/creator/modals/layout.less" type="text/css">
    <!-- endbuild -->

    <!-- build:less app/css/demo.css-->
    <link rel="stylesheet/less" href="src/demo/demo.less" type="text/css"/>
    <!-- endbuild -->

    <!-- build:less app/css/app.css-->
    <link rel="stylesheet/less" href="css/app.less" type="text/css"/>
    <!-- endbuild -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- build:remove -->
    <script>
      less = {
        async: true,
        logLevel: 1
      };
    </script>
    <script src="bower_components/less/dist/less.js"></script>
    <!-- endbuild -->
  </head>

  <body class="skin-blue sidebar-mini">
    <div class="wrapper">
      <!-- Main Header -->
      <header class="main-header" ui-view="header">
        <!-- Logo -->
        <a ui-sref="home.realtime.dashboard({site:''})" ui-sref-opts="{inherit:false}" class="logo">
          <span class="logo-lg">
            <img class="img-responsive1" src="assets/img/pulsar-logo.png"/>
          </span>
          <span class="logo-mini">
            <img class="img-responsive" src="assets/img/pulsar-logo-mini.png"/>
          </span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a href class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <section class="sidebar pr-sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img class="img-circle" alt="Johnny Doe" src="assets/img/blank-profile.png" />
            </div>
            <div class="pull-left info">
              <h4>Johnny Doe</h4>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <ul menus="menuItems" type="tree" class="sidebar-menu">
            <li class="{{menu.state.abstract ? 'treeview' : ''}}" ng-repeat="menu in menuItems | orderBy: '-priority'" ng-if="menu.state.name" ng-class="{ active: $state.includes(menu.state.name)}">
              <a ng-if="menu.state.abstract" href>
                <i ng-class="menu.icon"></i>
                <span ng-bind="menu.name"></span>
                <i ng-show="menu.children.length" class="fa fa-angle-left pull-right"></i>
              </a>
              <a ng-if="!menu.state.abstract" ui-sref="{{menu.state.name}}">
                <i ng-class="menu.icon ? menu.icon : 'fa fa-circle-o'"></i>
                <span ng-bind="menu.name"></span>
                <i ng-show="menu.children.length" class="fa fa-angle-left pull-right"></i>
              </a>

              <ul ng-if="menu.children.length" class="treeview-menu">
                <li ng-repeat="child in menu.children | orderBy: '-priority'" ng-class="{ active: $state.includes(child.state.name)}">
                  <a ng-if="!child.state.abstract" ui-sref="{{child.state.name}}">
                    <i ng-class="child.icon ? child.icon : 'fa fa-circle-o'"></i>
                    {{child.name}}
                    <i ng-show="child.children.length" class="fa fa-angle-left pull-right"></i>
                  </a>
                  <a ng-if="child.state.abstract" href>
                    <i ng-class="child.icon ? child.icon : 'fa fa-circle-o'"></i>
                    {{child.name}}
                    <i ng-show="child.children.length" class="fa fa-angle-left pull-right"></i>
                  </a>

                  <ul ng-if="child.children.length" class="treeview-menu">
                    <li ng-repeat="grandchild in child.children | orderBy: '-priority'" ui-sref-active="active">
                      <a ng-if="!grandchild.abstract" ui-sref="{{grandchild.state.name}}">
                        <i ng-class="'fa fa-circle'"></i>
                        {{grandchild.name}}
                      </a>
                      <a ng-if="grandchild.abstract" href>
                        <i ng-class="'fa fa-circle'"></i>
                        {{grandchild.name}}
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <!-- /.sidebar-menu -->
        </section>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div ui-view>
          <section class="content-header">
            <h1>
              Loading....
            </h1>
          </section>
        </div>
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer text-center">
        <strong>Copyright &copy; 2015 <a href="http://www.ebay.com/" target="_blank">eBay</a>.</strong> All rights reserved.
      </footer>
    </div><!-- ./wrapper -->


    <!-- build:js app/lib.js -->

    <!-- ========== jQuery and Bootstrap ============ -->

    <script src="bower_components/jquery/dist/jquery.js"></script>

    <!-- jQuery ui scripts needed for angular-ui-sortable. See more https://github.com/angular-ui/ui-sortable#requirements -->
    <script src="bower_components/jquery-ui/ui/minified/core.min.js"></script>
    <script src="bower_components/jquery-ui/ui/minified/widget.min.js"></script>
    <script src="bower_components/jquery-ui/ui/minified/mouse.min.js"></script>
    <script src="bower_components/jquery-ui/ui/minified/sortable.min.js"></script>

    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!-- ========== Admin LTE App =================== -->

    <script src="bower_components/admin-lte/dist/js/app.js"></script>

    <!-- admin_lte_custom fixes issues when templates are loaded dynamically using angular -->
    <script src="assets/scripts/admin_lte_custom.js"></script>

    <!-- ========== Plugins ========================= -->

    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/moment-timezone/builds/moment-timezone-with-data.js"></script>
    <script src="bower_components/knex/browser/knex.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/countto/jquery.countTo.js"></script>

    <!-- endbuild -->

    <!-- ========== Angular Modules ================= -->

    <!-- build:js app/angular-modules.js -->

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-breadcrumb/dist/angular-breadcrumb.js"></script>
    <script src="bower_components/angular-ui-router-menus/dist/angular-ui-router-menus.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-load/angular-load.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>

    <!-- endbuild -->

    <!-- ========== PulsarApp Module Files ========== -->

    <!-- build:js pulsar-reporting-ui.js -->
    <script src="src/prReporting/prApi/module.js"></script>
    <script src="src/prReporting/prApi/prApiProvider.js"></script>

    <script src="src/prReporting/prNumberFilter/module.js"></script>
    <script src="src/prReporting/prNumberFilter/duration.js"></script>
    <script src="src/prReporting/prNumberFilter/float.js"></script>
    <script src="src/prReporting/prNumberFilter/percentage.js"></script>
    <script src="src/prReporting/prNumberFilter/range.js"></script>
    <script src="src/prReporting/prNumberFilter/intervalDate.js"></script>

    <script src="src/prReporting/prCountTo/module.js"></script>
    <script src="src/prReporting/prCountTo/prCountTo.js"></script>

    <script src="src/prReporting/prGridExtensions/module.js"></script>
    <script src="src/prReporting/prGridExtensions/prGridHeight.js"></script>
    <script src="src/prReporting/prGridExtensions/prGridLimitation.js"></script>

    <script src="src/prReporting/prDate/module.js"></script>
    <script src="src/prReporting/prDate/prDatepicker.js"></script>

    <script src="src/prReporting/prUIOption/module.js"></script>
    <script src="src/prReporting/prUIOption/prUIOptionService.js"></script>
    <script src="src/prReporting/prUIOption/prNvd3ClearTooltip.js"></script>

    <script src="src/prReporting/prDashboard/module.js"></script>
    <script src="src/prReporting/prDashboard/prDashboard.js"></script>
    <script src="src/prReporting/prDashboard/prDashboardResource.js"></script>
    <script src="src/prReporting/prDashboard/prDashboardProvider.js"></script>
    <script src="src/prReporting/prDashboard/prDashboardWidget.js"></script>

    <script src="src/prReporting/prDashboard/prDashboardLayouts/module.js"></script>
    <script src="src/prReporting/prDashboard/prDashboardLayouts/prDashboardLayouts.js"></script>

    <script src="src/prReporting/prDashboardWidgets/grid/grid.js"></script>
    <script src="src/prReporting/prDashboardWidgets/pie/pie.js"></script>
    <script src="src/prReporting/prDashboardWidgets/bar/bar.js"></script>
    <script src="src/prReporting/prDashboardWidgets/timeline/timeline.js"></script>
    <script src="src/prReporting/prDashboardWidgets/lineWithFocus/lineWithFocus.js"></script>
    <script src="src/prReporting/prDashboardWidgets/stack/stack.js"></script>
    <script src="src/prReporting/prDashboardWidgets/metric/metric.js"></script>
    <script src="src/prReporting/prDashboardWidgets/groupedBar/groupedBar.js"></script>
    <script src="src/prReporting/prDashboardWidgets/util/module.js"></script>
    <script src="src/prReporting/prDashboardWidgets/util/prMetricPicker.js"></script>

    <script src="src/prReporting/prDatasource/module.js"></script>
    <script src="src/prReporting/prDatasource/prDatasourceSql/module.js"></script>
    <script src="src/prReporting/prDatasource/prDatasourceSql/prDatasourceSqlService.js"></script>
    <script src="src/prReporting/prDatasource/prDatasourceSql/prSqlBuilder.js"></script>

    <script src="src/prReporting/prDynamicFilter/prDynamicFilter.js"></script>
    <!-- endbuild -->

    <!-- build:js app/demo.js-->
    <script src="src/demo/demo.js"></script>
    <script src="src/demo/realtime/realtime.js"></script>
    <script src="src/demo/traffic/traffic.js"></script>
    <!-- endbuild -->

    <!-- build:js app/app.js-->
    <script src="src/ui/app.js"></script>
    <script src="src/ui/creator/module.js"></script>
    <script src="src/ui/creator/creatorController.js"></script>
    <script src="src/ui/creator/creatorDashboardController.js"></script>
    <script src="src/ui/creator/modals/addController.js"></script>
    <script src="src/ui/creator/modals/selectLayoutController.js"></script>

    <script src="src/ui/admin/admin.js"></script>
    <!--datasource related controllers-->
    <script src="src/ui/admin/datasourceManage/datasourceManageController.js"></script>
    <script src="src/ui/admin/datasourceManage/add/datasourceAddDialog.js"></script>
    <script src="src/ui/admin/datasourceManage/delete/datasourceDeleteDialog.js"></script>
    <script src="src/ui/admin/datasourceManage/edit/datasourceEditDialog.js"></script>
    <!--group related controllers-->
    <script src="src/ui/admin/groupManage/groupManageController.js"></script>
    <script src="src/ui/admin/groupManage/GroupHelper.js"></script>
    <script src="src/ui/admin/groupManage/update/groupEditDialogController.js"></script>
    <script src="src/ui/admin/groupManage/delete/deleteGroupDialogController.js"></script>
    <!-- app service-->
    <script src="src/ui/admin/resource/resource.js"></script>

    <!-- endbuild -->

    <script>
      angular.element(document).ready(function() {
          var jsonConf = "config-bundle.json";
          $.getJSON(jsonConf, function(data) {
            angular.module('pr').config(function (prApiProvider) {
              console.debug('-----------------------------------------------------------------------------------------------------------------');
              console.debug('Pulsar Reporting UI - Hello! Thank you for trying Pulsar!');
              if (data.apiUrl == 'http://<pulsarioReportingapi>/prapi/v2') {
                console.debug('First, configure the "' + jsonConf + '" in the directory of this HTML file');
              } else {
                prApiProvider.url(data.apiUrl);
                prApiProvider.timezone(data.apiTimezone);
                prApiProvider.useWithCredentialsDatasources(data.apiWithCredentials);
              }
              console.debug('The URL configured is "' + data.apiUrl + '"');
              console.debug('-----------------------------------------------------------------------------------------------------------------');
          });
          angular.bootstrap('html', ['pr']);
        });
      });
    </script>

  </body>
</html>


