<section class="content-header">
  <h1>
    Reports creator
  </h1>
  <ncy-breadcrumb></ncy-breadcrumb>
</section>

<section class="content">
  <div>
    <button type="button" class="btn btn-primary" ng-click="addDashboard()">
      <i class="fa fa-plus"></i>
    </button>
    <div class="btn-group" ng-if="dashboards.length > 0">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-if="dashboards">
        <span ng-if="dashboards[current]">
          {{dashboards[current].displayName}} ({{dashboards[current].config.dataSourceName}}) <span class="caret"></span>
        </span>
        <span ng-if="!dashboards[current]">
          <em>Select a dashboard</em> <span class="caret"></span>
        </span>
      </button>
      <ul class="dropdown-menu creator-dropdown-menu">
        <li ng-repeat="(i, dashboard) in dashboards">
          <a href ng-click="selectDashboard(i, dashboard.name);">{{dashboard.displayName}} ({{dashboard.config.dataSourceName}})</a>
        </li>
      </ul>
    </div>
    <span ng-if="dashboards[current]">
      <button type="button" class="btn btn-default" ng-disabled="!canEditDashboard()" ng-click="deleteDashboard()" ng-if="dashboards.length > 0">
        <i class="fa fa-trash-o"></i>
      </button>
    </span>
  </div>
  <div>
    &nbsp; &nbsp;
  </div>
  <div ng-if="dashboard">
    <div ui-view="dashboard"></div>
  </div>
  <div ng-if="!dashboard">
    <div class="alert bg-light-blue">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <i class="fa fa-times"></i>
      </button>
      <h4>
        <i class="icon fa fa-check"></i> Select a dashboard or create a new one
      </h4>
      If you can't select any dashboard, click the add button &nbsp;<i class="fa fa-plus fa-lg"></i>&nbsp; to start.
    </div>
  </div>
</section>