<div class="row clearfix">
  <section class="pull-left col-lg-2">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="whereRaw" placeholder="e.g. browserfamily = 'Chrome'"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="addRawFilter(whereRaw)">
           <i class="fa fa-search"></i>    
        </button>
      </span>
    </div>
  </section>
  <section class="pull-left">
    <a ng-repeat="(name, value) in dashboard.config.filters.where" ng-click="removeFilter(name)">
      <span class="btn btn-default">{{name}}: {{value}} <i class="fa fa-fw fa-times"></i></span>
    </a>
  </section>

  <section class="pull-right col-lg-10">
    <div class="text-right margin-bottom clearfix">
      <pr-datepicker start-date="start" end-date="end" callback="changeDateRange" opens="left" class="pull-right"></pr-datepicker>
      <div class="pull-right">
        &nbsp; &nbsp;
      </div>
      <div class="pull-right">
        <form class="form-inline btn-group" ng-show="editMode">
          <div class="form-group">
            <label for="dashboard.name">Dashboard name: </label>
            <input type="text" class="form-control" id="dashboard.name" ng-model="dashboard.displayName" placeholder="Dashboard name"/>
          </div>
        </form>

        <div class="btn-group" ng-show="editMode">
          <button type="button" class="btn btn-default" title="Config Layout" ng-click="selectLayout()"><i class="fa fa-columns"></i></button>
        </div>

        <div class="btn-group" ng-show="editMode">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add a widget <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="(key, w) in widgets">
              <a href ng-click="addWidget(key)">
                <i ng-class="w.icon"></i> {{w.label}}
              </a>
            </li>
          </ul>
        </div>

        <div class="btn-group">
          <button ng-show="editMode" type="button" class="btn" ng-class="isDashboardSaved() ? 'btn-default' : 'btn-primary'" title="Save" ng-click="persistDashboard()">
            <i class="fa fa-save"></i> Save
          </button>
          <button ng-show="editMode" type="button" class="btn btn-default" title="Undo" ng-click="refreshDashboard()">
            <i class="fa fa-undo"></i> Reload
          </button>
          <button ng-disabled="!canEditDashboard()" type="button" class="btn btn-default" title="Edit" ng-click="setEditMode(!editMode)"><i class="fa fa-edit"></i></button>
        </div>

      </div>
    </div> 
  </section>
</div>

<pr-dashboard model="dashboard" layout="dashboard.config.layout" edit-mode="editMode" filters="dashboard.config.filters"></pr-dashboard>

<br/>

<label ng-init="collapseJson = true" >
  <a href ng-click="collapseJson = !collapseJson">
    Show Dashboard structure <i class="fa {{collapseJson ? 'fa-caret-right' : 'fa-caret-down'}}"></i>
  </a>
</label>
<pre collapse="collapseJson">
  {{dashboard | json}}
</pre>
