<!-- Filter-->
<div ng-show="
    $stateParams.trafficsource || 
    $stateParams.devicefamily || 
    $stateParams.osfamily ||
    $stateParams.country
  ">
  <a ng-show="$stateParams.trafficsource" ng-click="$state.go($state.current.name, { trafficsource :'' })">
    <span class="btn btn-default">Traffic Source: {{$stateParams.trafficsource}} <i class="fa fa-fw fa-times"></i></span>
  </a>
  <a ng-show="$stateParams.devicefamily" ng-click="$state.go($state.current.name, { devicefamily : '' })">
    <span class="btn btn-default">Device Family: {{$stateParams.devicefamily}} <i class="fa fa-fw fa-times"></i></span>
  </a>
  <a ng-show="$stateParams.osfamily" ng-click="$state.go($state.current.name, { osfamily : '' })">
    <span class="btn btn-default">OS Family: {{$stateParams.osfamily}} <i class="fa fa-fw fa-times"></i></span>
  </a>
  <a ng-show="$stateParams.country" ng-click="$state.go($state.current.name, { country : '' })">
    <span class="btn btn-default">Country: {{$stateParams.country}} <i class="fa fa-fw fa-times"></i></span>
  </a>
  <a ng-click="$state.go($state.current.name, { trafficsource : '', devicefamily : '', osfamily : '', country : ''})">
    <span class="btn btn-default"> Clear All <i class="fa fa-trash-o"></i></span>
  </a>
</div>