<div class="row">
  <section class="col-sm-12 col-md-6 col-lg-12 metric-info-box">
    <a href ng-click="updateDeviceFilter('Desktop')">
      <div class="info-box bg-default">
        <span class="info-box-icon"><i class="fa fa-desktop"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">
              Desktop
          </span>
          <span class="info-box-number">{{deviceFamily.Desktop || 0 | number:0}}</span>
          <div class="progress">
            <div class="progress-bar" ng-style="{width : (deviceFamily.Desktop || 0)*100/deviceFamily.total + '%'}"></div>
          </div>
          <span class="progress-description">
            {{ (deviceFamily.Desktop || 0)*100/deviceFamily.total || 0 | number : 2}}%
          </span>
        </div><!-- /.info-box-content -->
      </div>
    </a>
  </section>
  <section class="col-sm-12 col-md-6 col-lg-12 metric-info-box">
    <a href ng-click="updateDeviceFilter('Tablet')">
      <div class="info-box bg-default">
        <span class="info-box-icon"><i class="fa fa-tablet"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">
            Tablet
          </span>
          <span class="info-box-number">{{deviceFamily.Tablet || 0 | number:0}}</span>
          <div class="progress">
            <div class="progress-bar" ng-style="{width : (deviceFamily.Tablet || 0)*100/deviceFamily.total + '%'}"></div>
          </div>
          <span class="progress-description">
            {{ (deviceFamily.Tablet || 0)*100/deviceFamily.total || 0 | number : 2}}%
          </span>
        </div><!-- /.info-box-content -->
      </div>
    </a>
  </section>
  <section class="col-sm-12 col-md-6 col-lg-12 metric-info-box">
    <a href ng-click="updateDeviceFilter('Mobile')">
      <div class="info-box bg-default">
        <span class="info-box-icon"><i class="fa fa-mobile"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">
            Mobile
          </span>
          <span class="info-box-number">{{deviceFamily.Mobile || 0 | number:0}}</span>
          <div class="progress">
            <div class="progress-bar" ng-style="{width : (deviceFamily.Mobile || 0)*100/deviceFamily.total + '%'}"></div>
          </div>
          <span class="progress-description">
            {{ (deviceFamily.Mobile || 0)*100/deviceFamily.total || 0 | number : 2}}%
          </span>
        </div><!-- /.info-box-content -->
      </div>
    </a>
  </section>
  <section class="col-sm-12 col-md-6 col-lg-12 metric-info-box">
    <a href ng-click="updateDeviceFilter('Other')">
      <div class="info-box bg-default">
        <span class="info-box-icon"><i class="fa fa-question"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">
            Other
          </span>
          <span class="info-box-number">{{deviceFamily.Other || 0 | number:0}}</span>
          <div class="progress">
            <div class="progress-bar" ng-style="{width : (deviceFamily.Other || 0)*100/deviceFamily.total + '%'}"></div>
          </div>
          <span class="progress-description">
            {{ (deviceFamily.Other || 0)*100/deviceFamily.total || 0 | number : 2}}%
          </span>
        </div><!-- /.info-box-content -->
      </div>
    </a>
  </section>
</div>
