<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Real-time Analytics Demo Page
  </h1>
  
  <ncy-breadcrumb></ncy-breadcrumb>
  
</section>

<!-- Main content -->
<section class="content">

  <div class="row clearfix">
    <section class="col-sm-12 col-md-8">
      <div class="margin-bottom" ui-view="filters"></div>
    </section>
    <section class="col-sm-12 col-md-4">
      <div class="text-right margin-bottom clearfix">
        <div class="btn-group pull-right">
          <button type="button" ng-click="setRefresh(true, true) " ng-class="{active:refresh.active}" class="btn btn-default">
            <i ng-class="{'text-green': refresh.active}" class="fa fa-play "></i>
            Auto Refresh
          </button>
          <button type="button" ng-click="setRefresh(false)" ng-class="{active: !refresh.active}" class="btn btn-default">
            <i ng-class="{'text-red': !refresh.active}" class="fa fa-square"></i>
          </button>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <div class="col-md-4 col-lg-3" ui-view="metric"></div>
    <div class="col-md-8 col-lg-9" ui-view="trend"></div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-3" ui-view="info-box"></div>
    <div class="col-md-12 col-lg-5" ui-view="grid"></div>
    <div class="col-md-12 col-lg-4" ui-view="ratio"></div>
  </div>
  <div class="row">
    <div class="col-md-12" ui-view="distribution"></div>
  </div>
</section><!-- /.content -->

