<div class="ui-grid-pager-panel" ui-grid-pager ng-show="grid.options.enablePaginationControls">
  <div class="text-right clearfix">
    <div class="inline" ng-show="grid.options.totalItems > 0">
      {{showingLow}} to {{showingHigh}} of {{grid.options.totalItems}} {{totalItemsLabel}}.
    </div>

    <div class="inline" ng-show="grid.options.paginationPageSizes && grid.options.paginationPageSizes.length > 1">
      <span>Show</span>
      <select ng-model="grid.options.paginationPageSize" ng-options="o as o for o in grid.options.paginationPageSizes" class="form-control inline"></select>
      <span>{{sizesLabel}}.</span>
    </div>

    <div class="pagination no-margin btn-group" ng-init="">
      <button type="button" class="btn btn-default" ng-click="paginationApi.seek(1)" ng-disabled="cantPageBackward()">
        <i class="fa fa-angle-double-left"></i>
      </button>

      <button type="button" class="btn btn-default disabled" ng-show="grid.options.paginationCurrentPage - 3 > 0">
        ...
      </button>

      <button type="button" class="btn btn-default" ng-click="paginationApi.seek(i+1)" ng-class="{active: grid.options.paginationCurrentPage == i+1}" ng-show="grid.options.paginationCurrentPage - 3 < i+1 && grid.options.paginationCurrentPage + 3 > i+1" ng-repeat="i in paginationApi.getTotalPages() | range">
        {{i+1}}
      </button>

      <button type="button" class="btn btn-default disabled" ng-show="grid.options.paginationCurrentPage + 3 <= paginationApi.getTotalPages()">
        ...
      </button>

      <button type="button" class="btn btn-default" ng-click="paginationApi.seek(paginationApi.getTotalPages())" ng-disabled="cantPageToLast()">
        <i class="fa fa-angle-double-right"></i>
      </button>
    </div>
  </div>
</div>
