<div ng-show="row.entity.editable" class="text-center">
  <button class="btn btn-box-tool"
    ng-click="grid.appScope.editRow(row.entity.name)"
    data-ng-disabled="grid.appScope.groupsControllers[row.entity.name].usersInLoading">
      <i class="fa fa-pencil fa-fw"></i>
  </button>
  &nbsp;&nbsp;

  <button class="btn btn-box-tool"
    ng-click="grid.appScope.prepareRemoveRow(row.entity.name)"
    data-ng-disabled="gird.appScope.groupsControllers[row.entity.name].usersInLoading">
      <i class="fa fa-trash-o fa-lg"></i>
  </button>
</div>