<div class="modal-header">
  <button type="button" ng-click="$dismiss()" class="close">
    <i class="fa fa-times"></i>
  </button>
  <h4 class="modal-title">Permission Management</h4>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-12">

      <form name="editForm" class="form-group">
        <label>Group Name</label>
        <input required type="text" name="displayName" ng-pattern="/^[a-zA-Z0-9\s]{1,64}$/" class="form-control" id="dataSource-name" ng-model="groupdisplayname" placeholder="Please enter group name..."/>
        <span class="text-red"> * </span>letters, numbers and space only, max length is 64
        <div role="alert">
          <span class="error text-red" ng-show="editForm.displayName.$error.pattern">Invalid name format...</span>
        </div>
      </form>
      <br/>

      <div class="form-group">
        <label>Add Users</label>
        <ui-select ng-model="users.new" tagging tagging-label=" " multiple theme="bootstrap">
          <ui-select-match placeholder="Select users...">{{$item}}</ui-select-match>
          <ui-select-choices repeat="user in users.old | filter: $select.search" ng-hide="!$select.items.length">
            {{user}}
          </ui-select-choices>
        </ui-select>
        <span class="text-red"> * </span>press 'Enter' to finish input
      </div>
      <br/>

      <label>Permission Control</label>

      <div class="btn-group text-center pull-right">
        <label class="btn btn-xs btn-default" ng-click="singleFilter('Selected')" ng-model="selectedStatus" btn-radio="'Selected'"> &nbsp;&nbsp;Selected&nbsp;&nbsp;  </label>
        <label class="btn btn-xs btn-default" ng-click="singleFilter('All')"      ng-model="selectedStatus" btn-radio="'All'"     >  &nbsp;&nbsp;Show All&nbsp;&nbsp; </label>
      </div>

      <div
        ui-grid="dialogGrid"
        ui-grid-pagination
        ui-grid-auto-resize
        pr-grid-height
        pr-grid-height-deep="true" 
        class="grid">
      </div>

    </div>
    <br/>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="!editForm.displayName.$valid || newUserNameInText" ng-click="ok()">Save</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>